.comments {
    font-size: 0.9em;

    .comments-header {
        padding: 0.3em 0;
        > * {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .comment-list {

        > .comment-list-item {
            margin-top: 0;
            padding: 0.6em 10px;
            background-color: #e8e8e8;
            border-color: #ccc;

            .media-object {
                width: 30px;
            }

            .comment-list-item-body {
                white-space: pre-wrap;
            }

            .btn-delete-comment {
                position: absolute;
                top: 0;
                right: 0;
                color: #333;
                border-radius: 0px;
                &:hover,
                &:active,
                &:focus {
                    color: white;
                }
            }

            .comment-list-item-bottom {
                .comment-list-item-time {
                    color: #999;
                }
            }

            &.comment-list-item-new {
                background-color: #e6f9ff;
                animation: fadein 2s;
            }
        }

    }

    .comments-form {

        .field-comment {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .btn-save-comment {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

    }

    &.show-new-comment {
        .comment-list-item:last-child {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}
